html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;

}

.viewTwo {
    width: 100%;
    background-color: #cae1e7;
}

.viewTitle {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 7vh;
    font-size: 45px;
    letter-spacing: 8px;
    color: #203242;
}

.technologies {
    list-style-type: none;
    margin: auto;
    padding: 0px;
}

.techUsed {
    display: block;
    text-align: left;
    text-decoration: none;
    float: left;
    padding: 12px;
    font-weight: bold;
}

.projectRow {
    margin-bottom: 15vh;
}