.navbar {
    background: transparent;
    z-index: 50;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar-brand {
    font-size: 45px;
    letter-spacing: 8px;
    padding-left: 60px;
    padding-right: 60px;
    color: #203242;
    margin: 0 auto;
}

.nav-item {
    font-size: 21px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 2px;
    color:#203242;
    font-family: 'Bebas Neue', sans-serif;
}

.fa-bars {
    color: #203242;
}

button.navbar-toggler {
    border-style: hidden;
}

button.navbar-toggler:active,
button.navbar-toggler:visited {
    border-style: hidden;
}

.navbar-toggler {
    margin-top: 10px;
}


@media (max-width: 888px) {
    li.nav-item.navbar-text {
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbar-brand {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (max-width: 767px) { 
    .navbar-brand {
        display: none;
    }
}
