.navbar {
    background: transparent;
    z-index: 50;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 10px;
}

a {
    color: darkslategray;
    font-family: 'Bebas Neue', sans-serif;
}

.navbar-brand {
    font-size: 30px;
    letter-spacing: 8px;
    padding-left: 60px;
    padding-right: 60px;
    color: darkslategray;
}

.nav-item {
    font-size: 18px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 2px;
}

.navbar-toggler-icon {
    color: darkslategray;
}


.navbar-toggler {
    color: darkslategray;
    background-color: transparent;
    border: 1px solid;
}

@media (max-width: 767px) { 
    .navbar-brand {
        display: none;
    }

    a {
        color: #f5f5f5;
    }
}
