.viewFive {
    background-image: url("../../img/water.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -10vh;
}

#email-form {
    background-color: #f5f5f5;
    padding: 20px;
}

.formDiv {
    width: 50%;
    background-color: #f5f5f5;
    margin: auto;
    padding-bottom: 20px;
    margin-bottom: 10vh;
    margin-top: 5vh;
}

#contactTitle {
    padding-bottom: 2vh;
}

.contact-row {
    margin-top: 10vh;
}

@media only screen and (max-width: 540px) {
    .formDiv {
        width: 80vw;
    }
}