html {
  height: 100%;
  background-color: #ebf0f2;
}

.row {
  width: 100%;
  margin: 0 auto;
}

.col-md {
  width: 100%;
  padding: 0;
}

.right-image {
    background-image: url("../../img/water-rotated.jpg");
    width: 100%;
    height: 106vh;
    z-index: -1000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    margin-top: -100px;
}


h4 {
    display: none;
    color: #f5f5f5;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;

}

.alignCenter {
    text-align: center;
    margin-top: 30vh;
    padding: 10px;
}

@media (max-width: 767px) { 
    .right-image {
        display: none;
    }

    .col-md {
        width: 100%;
        padding: 0px;
    }

    .mobile-image {
        background-image: url("../../img/water-rotated.jpg");
        width: 100%;
        height: 60vh;
        z-index: -1000;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        margin-top: -290px;
    }

    h4 {
        display: block;
        text-align: center;
        padding-top:325px;
    }

    .intro-text {
        font-size: larger;
        /* margin-top: 30%; */
    }
 }

 @media (max-width: 320px) {
    .right-image {
        display: none;
    }

    .mobile-image {
        background-image: url("../../img/water-rotated.jpg");
        width: 100%;
        height: 75vh;
        z-index: -1000;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        margin-top: -290px;
    }

    h4 {
        display: block;
        text-align: center;
        padding-top:315px;
    }

    .intro-text {
        height: 25vh;
        margin-top: 30%;
    }

 }
